<!DOCTYPE html>
<html ng-app="calendarDemoApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Mobile Angular UI Responsive Calendar Demo">
    <title>Mobile Angular UI Responsive Calendar Demo</title>


    <!-- angular -->
    <script src="../bower_components/angular/angular.js"></script>

    

    <!-- mobile angular ui -->
    <link rel="stylesheet" href="../bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.css"/>
    <link rel="stylesheet" href="../bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.css"/>
    <script src="../bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.js"></script>

    <!-- calendar -->
    <link rel="stylesheet" href="../css/rcalendar/calendar.css"/>
    <script src="../src/rcalendar/calendar.js"></script>

    <!-- demo -->
    <script src="calendarDemoCtrl.js"></script>
</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="/">Mobile Angular UI Responsive Calendar</a>
        </div>
        <ul class="pull-right nav navbar-nav navbar-right hidden-xs">
            <li><a href="https://github.com/lowesoftware/mobileangularui-calendar"><img style="display:inline-block"
                                                                                        src="github-icon.png"/> View on
                GitHub</a></li>
        </ul>
    </div>
</header>
<div class="scrollable">
<section class="content scrollable-content" style="margin-top: 70px;">
    <section class="container">
        <section ng-controller="CalendarDemoCtrl" ng-init="loadEvents();">
            <div class="alert alert-success" ng-show="event">Event selected:{{event.startTime|date:
                'MMM/dd,yyyy,HH:mm'}} - {{event.endTime|date:'MMM/dd,yyyy,HH:mm'}}, {{event.title}}
            </div>

            <div class="">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-class="{active:mode==='month'}"
                            ng-click="changeMode('month')">
                        Month
                    </button>
                    <button type="button" class="btn btn-default" ng-class="{active:mode==='week'}"
                            ng-click="changeMode('week')">
                        Week
                    </button>
                    <button type="button" class="btn btn-default" ng-class="{active:mode==='day'}"
                            ng-click="changeMode('day')">
                        Day
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-disabled="isToday()"
                            ng-click="today()">
                        Today
                    </button>
                </div>
            </div>
            <div class="well well-sm">
                <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                          range-changed="reloadSource(startTime, endTime)"
                          event-selected="onEventSelected(event)"></calendar>
            </div>
        </section>
    </section>
</section>
</div>
</body>
</html>
